@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
    --font-default: 'Roboto', sans-serif;
    --font-sencondary: 'Quicksand', sans-serif;
}

body {
    background: #FFFFFF;
}

/* Navbar */

.navbar1 {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.logo a {
    padding-top: 10px;
}

.logo a:hover {
    color: #FFFFFF;
}

.logo-btn {
    width: 13.75rem;
    height: 4.25rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 1.875rem;
    color: #FFFFFF;
    font-family: var(--font-default);
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.menu {
    font-family: var(--font-sencondary);
    font-size: 0.938rem;
    font-weight: 500;
}

.menu li {
    width: 13.75rem;
    height: 2.063rem;
    border-bottom: 1px solid #e7e7e7;
}

.menu li:hover {
    color: #725C5C;
    background: #FDF1EB;
}

.menu li:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: .3rem;
    height: 2.063rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.menu li a {
    color: #725C5C;
    padding: 7px 24px;
}

.menu li a:visited {
    color: #725C5C;
}

/* Responsive Navbar */

@media screen and (max-width: 420px) {
    .navbar1 {
        width: 110px;
    }

    .logo a {
        padding-top: 7px;
    }

    .logo-btn {
        width: 110px;
        height: 2.25rem;
        font-size: .875rem;
    }

    .logo-img {
        width: 110px;
    }

    .menu {
        font-size: 0.5rem;
    }
    
    .menu li {
        width: 110px;
        height: 2.063rem;
    }
}
/* End Responsive Navbar */

/* End Navbar */

/* ########################################################################## */

/* Main Content */

.principal {
    width: 100%;
    margin-left: 220px;
}

/* Header */
.topo {
    width: 100%;
    height: 4.25rem;
    background: #FDF1EB;
    padding-top: 5px;
    padding-bottom: 19px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.titulo {
    padding-top: 10px;
    padding-left: 36px;
    font-family: var(--font-default);
    color: #725C5C;
}

.p1, .p3{
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 0.875rem;
}

.p2 {
    margin: 0;
    font-size: 1.375rem;
}


.login-wrap {
    padding-top: 10px;
}

/* Dropdown Button Language */
.dropbtn {
    background: none;
    border: 1px solid #CCCCCC;
    color: #333333;
    width: 97px;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;
}

.down {
    position: relative;
    bottom: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/* End Dropdown Button Language */

/* Login Info */
.login {
    width: 202px;
    height: 34px;
    font-family: var(--font-sencondary);
    font-weight: 400;
}

.login span {
    font-size: 0.875rem;
    margin: 0;
}

.login p {
    font-size: 0.75rem;
    margin-top: -5px;
}

.img-login {
    width: 50px;
    height: 45px;
}

.img-login img {
    width: 35px;
}

.login-badge {
    display: flex;
    position: relative;
    right: 10px;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 10px;
}
/* End Login Info */

/* Responsive Header */

@media screen and (max-width: 1280px) {
    .p2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .login-wrap {
        display: none !important;
    }
}

@media screen and (max-width: 750px) {
    .p1, .p3 {
        display: none !important;
    }
}

@media screen and (max-width: 535px) {
    .topo {
        display: none !important;
    }
}
/* End Responsive Header */

/* End Header */

/* ########################################################################## */

/* Main */

#main {
    width: 100%;
    height: 100vh;
    padding-left: 36px;
}

.download-section {
    width: 100%;
    padding-top: 1.5rem;
    justify-content: space-between;
}

.download-section h5 {
    width: 786px;
    font-family: var(--font-default);
    font-weight: 900;
    color: #ED7839;
    line-height: 1.563rem;
    letter-spacing: 0.05rem;
}

.btn-download {
    width: 120px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;
    padding: 6px;
    font-family: var(--font-default);
    font-weight: 500;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-download i {
    position: relative;
    padding-bottom: 5px;
}

.btn-star {
    width: 43px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;
    padding: 6px;
    font-family: var(--font-default);
    font-weight: 500;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-doi {
    width: 43px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-doi img {
    width: 19px;
}

.download-wrap h6 {
    width: 222px;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: var(--font-default);
    letter-spacing: 0.05em;
    text-align: center;
    color: #ED7839;
    padding-top: 1rem;
}

.video-section {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

.video-section img {
    width: 783px;
}

.detalhes {
    width: 242px;
    height: 439px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    overflow: scroll;
}

.detalhes h6 {
    width: 242px;
    height: 45px;
    background: #FDF1EB;
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 1.25rem;
    color: #4e4e4e;
    padding-top: 11px;
    padding-left: 15px;
}

.detalhes-content {
    font-family: var(--font-sencondary);
    font-size: 0.75rem;
    font-weight: 400;
    padding: 10px;
}

.detalhes-content p {
    margin: 0;
}

.autores {
    padding-top: 1rem;
}

.legenda {
    height: 500px;
    padding-top: 2rem;
}

/* Resumo Section */
.resumo {
    width: 98.5%;
    margin: auto;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    font-family: var(--font-sencondary);
}

.resumo h6 {
    width: 100%;
    height: 45px;
    background-color: #FDF1EB;
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0;
}

.resumo p {
    font-size: 0.875rem;
    margin: 0;
}

.resumo-text {
    padding: 15px;
}

#ver-mais {
    display: none;
}

#btnVerMais {
    background: none;
    text-decoration: none;
    border: none;
    font-family: var(--font-sencondary);
    font-weight: 600;
    color: #ED7839;
}

/* End Resumo Section */



/* Discussões Section */

.discussoes {
    width: 98.5%;
    margin: auto;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    margin-top: 20px;
    padding-bottom: 15px;
}

.discussoes-title {
    width: 100%;
    height: 45px;
    background-color: #FDF1EB;
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0;
}

.discussoes-wrap {
    padding: 15px;
}

.ideias-duvidas {
    text-align: center;
    padding-top: 15px;
}

.ideias-duvidas h6 {
    font-family: var(--font-default);
    font-size: 1.125rem;
    font-weight: 700;
    color: #ED7839;
    padding-bottom: 27px;
}

.ideias-duvidas p {
    width: 626px;
    font-family: var(--font-sencondary);
    font-size: 0.875rem;
    margin: auto;
}

.discussoes-icons {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 35px;
}

.discussoes-icons img {
    width: 50.26px;
}

.btnCriarTopico  {
    display: block;
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: var(--font-sencondary);
    font-size: 0.938rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: auto;
    padding: 0;
}

.btnCriarTopico::after {
    content: "";
     display: block;
     position: relative;
     top: -12px;
     left: 132px;
     width: 600px;
     height: 1px;
     background: #E7E7E7;
}

.btnCriarTopico::before {
    content: "";
     display: block;
     position: relative;
     top: 12px;
     left: -601px;
     width: 600px;
     height: 1px;
     background: #E7E7E7;
}

#formCriarTopico {
    display: none;
}

.form-criarTopico form {
    width: 99%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-criarTopico label {
    font-family: var(--font-default);
    font-weight: 700;
    color: #ED7839;
    margin-bottom: 0;
}

.form-criarTopico input {
    font-family: var(--font-sencondary);
    font-size: 0.875rem;
    margin-bottom: 10px;
}

.form-criarTopico textarea {
    resize: none;
}

.form-criarTopico p {
    font-family: var(--font-sencondary);
    font-size: 0.875rem;
    text-align: center;
    padding-top: 5px;
}

.form-btns {
    display: flex;
    justify-content: space-between;
}

.form-btns {
    background-color: #CCCCCC;
    width: 100%;
    height: 31px;
}

.btnNegrito, .btnItalico {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btnEnviarTopico {
    display: block;
    padding: 0;
    width: 205px;
    height: 31px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: var(--font-sencondary);
    font-size: 0.938rem;
    font-weight: 700;
    color: #FFFFFF;
}

/* Responsive Main */
@media screen and (max-width: 1635px) {
    .btnCriarTopico::after, .btnCriarTopico::before {
        display: none;
   }
}
@media screen and (max-width: 1280px) {
   .download-section {
       justify-content: center;
   }
    .detalhes {
        display: none;
    }
    .video-section {
        justify-content: center;
    }
    .resumo {
        width: 783px;
    }

    .discussoes {
        width: 783px;
    }
}

@media screen and (max-width: 1100px) {
    .download-section h5 {
        width: 600px;
    }
    .video-section img {
        width: 600px;
    }
    .resumo {
        width: 600px;
    }

    .discussoes {
        width: 600px;
    }
    .ideias-duvidas p {
        width: 500px;
        font-family: var(--font-sencondary);
        font-size: 0.875rem;
        margin: auto;
    }
}

@media screen and (max-width: 870px) {
    .download-section h5 {
        width: 450px;
        text-align: center;
    }
    .video-section img {
        width: 450px;
    }
    .resumo {
        width: 450px;
    }

    .discussoes {
        width: 450px;
    }
    .ideias-duvidas p {
        width: 400px;
        font-family: var(--font-sencondary);
        font-size: 0.875rem;
        margin: auto;
    }
}

@media screen and (max-width: 770px) {
    #main {
        padding: 0;
    }
    .download-section h5 {
        width: 300px;
    }
    .video-section img {
        width: 300px;
    }
    .resumo {
        width: 300px;
    }

    .discussoes {
        width: 300px;
    }
    .ideias-duvidas p {
        width: 250px;
        font-family: var(--font-sencondary);
        font-size: 0.875rem;
        margin: auto;
    }
}

@media screen and (max-width: 635px) {
    .download-section h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 535px) {
    .principal {
        margin-left: 200px;
    }
    .download-section {
        width: 80%;
        padding-top: .5rem;
    }
    .download-section h5 {
        font-size: .8rem;
    }
    .video-section img {
        width: 250px;
    }
    .resumo {
        width: 250px;
    }

    .discussoes {
        width: 250px;
    }
    .discussoes-icons {
        gap: 30px;
    }
    .ideias-duvidas p {
        width: 200px;
        font-family: var(--font-sencondary);
        font-size: 0.875rem;
        margin: auto;
    }
}
/* End Responsive Main */

